.cart {
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: 5;
  background-color: white;
  padding: 20px;

  .item {
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
}
